
<body>
   <h3>Listing Details:</h3>
   
       
   <ul>
       <li><%=listing.title%></li>
       <li><%=listing.description%></li>
       <li><%=listing.country%></li>
       <li><%=listing.location%></li>
       <li>&#8377;<%=listing.price.toLocaleString("en-IN")%></li>
        
   </ul>
   <a href="/Listings/<%=listing._id%>/edit">Edit this Listing</a>
<a href="/listings/<%= listing._id %>/add-review" class="btn btn-primary">Add</a>
<form method="GET" action="/listings/:id/review">
        <button>Show Reviews</button>
    </form>
    <form method="GET" action="/listings/<%= listing._id %>/weather">
        <button>Show Current Weather</button>
    </form>
</body>